# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home4/isaacmus/UMUSHI"
PassengerBaseURI "/"
PassengerNodejs "/home4/isaacmus/nodevenv/UMUSHI/22/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv MONGODB_URI mongodb+srv://mwizerwaemmanuel7:Studyabroad1@cluster0.dnjolzu.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END